In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
dataset = pd.read_csv('/content/BASE.txt',sep='\t')

In [5]:
train, test = train_test_split(dataset, test_size=0.25, random_state = 323)
train.insert(0,'CONJUNTO','TRN')  # Cria coluna de treinamento
test.insert(0,'CONJUNTO','TST')  # Cria coluna de test
dataset = pd.concat([test, train])

In [6]:
dataset

,CONJUNTO,CODIGO,CD_BANCO,VALOR,DIAS_PRIMEIRA_PARCELA,TIPO_CLIENTE,CD_SEXO,QTDE_DIVIDAS_ANTERIORES,CD_CARTEIRA_CLIENTE,IDADE,GRUPO_IDADE_CONTA,ALVO
6300,TST,99990,B341,519,14,VIP,F,0,E,36.0,ENTRE 4 E 9 ANOS,1
9511,TST,116641,B1,"2139,68",42,NOVO,F,0,D,36.0,ENTRE 9 E 14 ANOS,1
8667,TST,111673,B1,"1299,23",24,VIP,F,0,C,34.0,ENTRE 9 E 14 ANOS,1
1421,TST,11161,B356,"76,6",29,NOVO,F,16,D,19.0,ATÉ 1 ANO,0
2464,TST,93007,B399,347,24,NEUTRO,,16,G,NaN,ENTRE 1 E 2 ANOS,0
...,...,...,...,...,...,...,...,...,...,...,...,...
437,TRN,9688,B33,113,15,NEUTRO,M,16,D,50.0,ENTRE 1 E 2 ANOS,0
2030,TRN,92490,B341,333,9,EXPERIENTE,M,0,D,34.0,ENTRE 1 E 2 ANOS,0
6970,TRN,103634,B1,971,25,VIP,M,0,E,53.0,MAIOR OU IGUAL A 15,1
563,TRN,9851,B237,126,30,NEUTRO,M,0,F,28.0,ENTRE 1 E 2 ANOS,1
6444,TRN,100816,B1,889,21,VIP,M,0,F,20.0,ENTRE 1 E 2 ANOS,1

In [7]:
dataset.to_csv('pre_processamento.csv',sep='\t') # Exporta para CSV
print('--> DADOS EXPORTADOS')

--> DADOS EXPORTADOS

# PRÉ-PROCESSAMENTO

## CD_BANCO

In [8]:
dataset['PRE_BANCO_B1'] =   [1 if x == 'B1'   else 0 for x in dataset['CD_BANCO']] 
dataset['PRE_BANCO_B237'] = [1 if x == 'B237' else 0 for x in dataset['CD_BANCO']] 
dataset['PRE_BANCO_B341'] = [1 if x == 'B341' else 0 for x in dataset['CD_BANCO']] 
dataset['PRE_BANCO_B33'] =  [1 if x == 'B33'  else 0 for x in dataset['CD_BANCO']] 
dataset['PRE_BANCO_B104'] = [1 if x == 'B104' else 0 for x in dataset['CD_BANCO']] 
dataset['PRE_BANCO_B356'] = [1 if x == 'B356' else 0 for x in dataset['CD_BANCO']] 
dataset['PRE_BANCO_B399'] = [1 if x == 'B399' else 0 for x in dataset['CD_BANCO']] 
dataset['PRE_BANCO_B47'] =  [1 if x == 'B47'  else 0 for x in dataset['CD_BANCO']]

## CD_SEXO

In [9]:
dataset['PRE_SEXO_M'] = [1 if x == 'M' else 0 for x in dataset['CD_SEXO']]
dataset['PRE_SEXO_F'] = [1 if x == 'F' else 0 for x in dataset['CD_SEXO']]
dataset['PRE_SEXO_NULL'] = [1 if str(x) == ' ' else 0 for x in dataset['CD_SEXO']]   # Se fosse um nulo real: str(x)=='nan'
# dataset['PRE_SEXO_F_NULL'] = [1 if x == 'F' or str(x) == ' ' else 0 for x in dataset['CD_SEXO']]

## IDADE

In [10]:
dataset['PRE_IDADE'] = [18 if np.isnan(x) or x < 18 else x for x in dataset['IDADE']]
dataset['PRE_IDADE'] = [73 if x > 73 else x for x in dataset['PRE_IDADE']]
dataset['PRE_IDADE'] = [(x-18)/(73-18) for x in dataset['PRE_IDADE']]
# dataset['PRE_IDADE'] = [1 if x > 73 else (x-18)/(73-18) for x in dataset['PRE_IDADE']]

## Demais variáveis  ---> ALUNOS

## VALOR

**agrupei todos os valores maior que 2270 para 2270 e normalizei a coluna 'VALOR'**

In [11]:
dataset['VALOR'] = dataset['VALOR'].str.replace(',', '.')

In [12]:
dataset['VALOR'] = dataset['VALOR'].astype('float')

In [13]:
dataset.dtypes

CONJUNTO                    object
CODIGO                       int64
CD_BANCO                    object
VALOR                      float64
DIAS_PRIMEIRA_PARCELA        int64
TIPO_CLIENTE                object
CD_SEXO                     object
QTDE_DIVIDAS_ANTERIORES      int64
CD_CARTEIRA_CLIENTE         object
IDADE                      float64
GRUPO_IDADE_CONTA           object
ALVO                         int64
PRE_BANCO_B1                 int64
PRE_BANCO_B237               int64
PRE_BANCO_B341               int64
PRE_BANCO_B33                int64
PRE_BANCO_B104               int64
PRE_BANCO_B356               int64
PRE_BANCO_B399               int64
PRE_BANCO_B47                int64
PRE_SEXO_M                   int64
PRE_SEXO_F                   int64
PRE_SEXO_NULL                int64
PRE_IDADE                  float64
dtype: object

In [14]:
dataset['VALOR'].min()

20.0

In [15]:
dataset['VALOR'].max()

5586.65

In [16]:
dataset['VALOR'] = [2270 if x > 2270 else x for x in dataset['VALOR']]

In [17]:
dataset['VALOR'] = [(x-dataset['VALOR'].min())/(dataset['VALOR'].max()-dataset['VALOR'].min()) for x in dataset['VALOR']]

In [18]:
dataset['VALOR']

6300    0.221778
9511    0.942080
8667    0.568547
1421    0.025156
2464    0.145333
          ...
437     0.041333
2030    0.139111
6970    0.422667
563     0.047111
6444    0.386222
Name: VALOR, Length: 10000, dtype: float64

## DIAS_PRIMEIRA_PARCELA

**todos valores maiores que 69 vão ser 69 e normalizei a coluna 'DIAS_PRIMEIRA_PARCELA'**

In [19]:
dataset['DIAS_PRIMEIRA_PARCELA'] = [69 if x > 69 else x for x in dataset['DIAS_PRIMEIRA_PARCELA']]

In [20]:
dataset['DIAS_PRIMEIRA_PARCELA'] = [(x-dataset['DIAS_PRIMEIRA_PARCELA'].min())/(dataset['DIAS_PRIMEIRA_PARCELA'].max()-dataset['DIAS_PRIMEIRA_PARCELA'].min()) for x in dataset['DIAS_PRIMEIRA_PARCELA']]

In [21]:
dataset['DIAS_PRIMEIRA_PARCELA']

6300    0.202899
9511    0.608696
8667    0.347826
1421    0.420290
2464    0.347826
          ...
437     0.217391
2030    0.130435
6970    0.362319
563     0.434783
6444    0.304348
Name: DIAS_PRIMEIRA_PARCELA, Length: 10000, dtype: float64

In [22]:
dataset

,CONJUNTO,CODIGO,CD_BANCO,VALOR,DIAS_PRIMEIRA_PARCELA,TIPO_CLIENTE,CD_SEXO,QTDE_DIVIDAS_ANTERIORES,CD_CARTEIRA_CLIENTE,IDADE,...,PRE_BANCO_B341,PRE_BANCO_B33,PRE_BANCO_B104,PRE_BANCO_B356,PRE_BANCO_B399,PRE_BANCO_B47,PRE_SEXO_M,PRE_SEXO_F,PRE_SEXO_NULL,PRE_IDADE
6300,TST,99990,B341,0.221778,0.202899,VIP,F,0,E,36.0,...,1,0,0,0,0,0,0,1,0,0.327273
9511,TST,116641,B1,0.942080,0.608696,NOVO,F,0,D,36.0,...,0,0,0,0,0,0,0,1,0,0.327273
8667,TST,111673,B1,0.568547,0.347826,VIP,F,0,C,34.0,...,0,0,0,0,0,0,0,1,0,0.290909
1421,TST,11161,B356,0.025156,0.420290,NOVO,F,16,D,19.0,...,0,0,0,1,0,0,0,1,0,0.018182
2464,TST,93007,B399,0.145333,0.347826,NEUTRO,,16,G,NaN,...,0,0,0,0,1,0,0,0,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,TRN,9688,B33,0.041333,0.217391,NEUTRO,M,16,D,50.0,...,0,1,0,0,0,0,1,0,0,0.581818
2030,TRN,92490,B341,0.139111,0.130435,EXPERIENTE,M,0,D,34.0,...,1,0,0,0,0,0,1,0,0,0.290909
6970,TRN,103634,B1,0.422667,0.362319,VIP,M,0,E,53.0,...,0,0,0,0,0,0,1,0,0,0.636364
563,TRN,9851,B237,0.047111,0.434783,NEUTRO,M,0,F,28.0,...,0,0,0,0,0,0,1,0,0,0.181818
6444,TRN,100816,B1,0.386222,0.304348,VIP,M,0,F,20.0,...,0,0,0,0,0,0,1,0,0,0.036364

## TIPO_CLIENTE

**Criei uma variavel para cada tipo de cliente, menos para o cliente Neutro, porque se as outras três variaveis forem 0 logicamente a neutro vai ser 1**

In [23]:
dataset['PRE_TIPO_CLIENTE_EXP'] = [1 if x == 'EXPERIENTE' else 0 for x in dataset['TIPO_CLIENTE']]
dataset['PRE_TIPO_CLIENTE_NOVO'] = [1 if x == 'NOVO' else 0 for x in dataset['TIPO_CLIENTE']]
dataset['PRE_TIPO_CLIENTE_VIP'] = [1 if x == 'VIP' else 0 for x in dataset['TIPO_CLIENTE']]

In [24]:
dataset[['PRE_TIPO_CLIENTE_EXP', 'PRE_TIPO_CLIENTE_NOVO', 'PRE_TIPO_CLIENTE_VIP', 'TIPO_CLIENTE']]

,PRE_TIPO_CLIENTE_EXP,PRE_TIPO_CLIENTE_NOVO,PRE_TIPO_CLIENTE_VIP,TIPO_CLIENTE
6300,0,0,1,VIP
9511,0,1,0,NOVO
8667,0,0,1,VIP
1421,0,1,0,NOVO
2464,0,0,0,NEUTRO
...,...,...,...,...
437,0,0,0,NEUTRO
2030,1,0,0,EXPERIENTE
6970,0,0,1,VIP
563,0,0,0,NEUTRO
6444,0,0,1,VIP

## QTDE_DIVIDAS_ANTERIORES

**Apenas normalizei a coluna 'QTDE_DIVIDAS_ANTERIORES'**

In [25]:
dataset['QTDE_DIVIDAS_ANTERIORES'] = [(x-dataset['QTDE_DIVIDAS_ANTERIORES'].min())/(dataset['QTDE_DIVIDAS_ANTERIORES'].max()-dataset['QTDE_DIVIDAS_ANTERIORES'].min()) for x in dataset['QTDE_DIVIDAS_ANTERIORES']]

In [26]:
dataset['QTDE_DIVIDAS_ANTERIORES'].head(20)

6300    0.0000
9511    0.0000
8667    0.0000
1421    1.0000
2464    1.0000
4007    0.0000
6396    0.4375
2101    0.1250
1569    0.8750
4187    1.0000
6515    0.0000
4940    1.0000
7142    0.0000
5803    0.0000
6083    0.0000
422     0.6250
4744    0.4375
2282    0.0625
5179    0.5000
4897    0.1250
Name: QTDE_DIVIDAS_ANTERIORES, dtype: float64

## CD_CARTEIRA_CLIENTE

**Criei uma coluna separado para A e tambem criei outra para o B, agrupei os cliente C e G, agrupei os D e Nulo, e também agrupei o E e F**

In [27]:
dataset['PRE_CARTEIRA_CLI_A'] = [1 if x == 'A' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CARTEIRA_CLI_B'] = [1 if x == 'B' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CARTEIRA_CLI_C_G'] = [1 if x == 'C' or x == 'G' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CARTEIRA_CLI_D_NULL'] = [1 if x == 'D' or str(x)=='nan' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CARTEIRA_CLI_E_F'] = [1 if x == 'E' or x == 'F' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]

In [28]:
dataset[['PRE_CARTEIRA_CLI_A', 'PRE_CARTEIRA_CLI_B', 'PRE_CARTEIRA_CLI_C_G', 'PRE_CARTEIRA_CLI_D_NULL', 'PRE_CARTEIRA_CLI_E_F', 'CD_CARTEIRA_CLIENTE']].head(10)

,PRE_CARTEIRA_CLI_A,PRE_CARTEIRA_CLI_B,PRE_CARTEIRA_CLI_C_G,PRE_CARTEIRA_CLI_D_NULL,PRE_CARTEIRA_CLI_E_F,CD_CARTEIRA_CLIENTE
6300,0,0,0,0,1,E
9511,0,0,0,1,0,D
8667,0,0,1,0,0,C
1421,0,0,0,1,0,D
2464,0,0,1,0,0,G
4007,0,0,0,0,1,F
6396,0,0,0,0,1,E
2101,0,0,0,0,1,F
1569,0,0,0,0,1,E
4187,0,0,0,1,0,D

## GRUPO_IDADE_CONTA

**criei uma variavel para cada grupo de idade menos para os que estão entre 4 e 14 anos, esses eu criei agrupados

In [29]:
dataset['GRUPO_IDADE_CONTA'].drop_duplicates()

6300       ENTRE 4 E 9 ANOS
9511      ENTRE 9 E 14 ANOS
1421              ATÉ 1 ANO
2464       ENTRE 1 E 2 ANOS
6396       ENTRE 2 E 4 ANOS
5803    MAIOR OU IGUAL A 15
Name: GRUPO_IDADE_CONTA, dtype: object

In [30]:
dataset['GRUPO_IDADE_ATÉ_1'] = [1 if str(x) == 'ATÉ 1 ANO' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['GRUPO_IDADE_ENTRE_1_2_ANOS'] = [1 if str(x) == 'ENTRE 1 E 2 ANOS' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['GRUPO_IDADE_ENTRE_2_4_ANOS'] = [1 if str(x) == 'ENTRE 2 E 4 ANOS' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['GRUPO_IDADE_ENTRE_4_14_ANOS'] = [1 if str(x) == 'ENTRE 4 E 9 ANOS' or str(x) == 'ENTRE 9 E 14 ANOS' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['GRUPO_IDADE_MAIOR_OU_IGUAL_15_ANOS'] = [1 if str(x) == 'MAIOR OU IGUAL A 15' else 0 for x in dataset['GRUPO_IDADE_CONTA']]

In [31]:
dataset[['GRUPO_IDADE_ATÉ_1', 'GRUPO_IDADE_ENTRE_1_2_ANOS', 'GRUPO_IDADE_ENTRE_2_4_ANOS', 'GRUPO_IDADE_ENTRE_4_14_ANOS', 'GRUPO_IDADE_MAIOR_OU_IGUAL_15_ANOS', 'GRUPO_IDADE_CONTA']]

,GRUPO_IDADE_ATÉ_1,GRUPO_IDADE_ENTRE_1_2_ANOS,GRUPO_IDADE_ENTRE_2_4_ANOS,GRUPO_IDADE_ENTRE_4_14_ANOS,GRUPO_IDADE_MAIOR_OU_IGUAL_15_ANOS,GRUPO_IDADE_CONTA
6300,0,0,0,1,0,ENTRE 4 E 9 ANOS
9511,0,0,0,1,0,ENTRE 9 E 14 ANOS
8667,0,0,0,1,0,ENTRE 9 E 14 ANOS
1421,1,0,0,0,0,ATÉ 1 ANO
2464,0,1,0,0,0,ENTRE 1 E 2 ANOS
...,...,...,...,...,...,...
437,0,1,0,0,0,ENTRE 1 E 2 ANOS
2030,0,1,0,0,0,ENTRE 1 E 2 ANOS
6970,0,0,0,0,1,MAIOR OU IGUAL A 15
563,0,1,0,0,0,ENTRE 1 E 2 ANOS
6444,0,1,0,0,0,ENTRE 1 E 2 ANOS

## SELECIONAR VARIÁVEIS PRÉ-PROCESSADAS

In [32]:
cols_in = ['GRUPO_IDADE_MAIOR_OU_IGUAL_15_ANOS',
           'GRUPO_IDADE_ENTRE_4_14_ANOS',
           'GRUPO_IDADE_ENTRE_2_4_ANOS',
           'GRUPO_IDADE_ENTRE_1_2_ANOS',
           'GRUPO_IDADE_ATÉ_1',
           'PRE_CARTEIRA_CLI_A',
           'PRE_CARTEIRA_CLI_B',
           'PRE_CARTEIRA_CLI_C_G',
           'PRE_CARTEIRA_CLI_D_NULL',
           'PRE_CARTEIRA_CLI_E_F','QTDE_DIVIDAS_ANTERIORES',
           'PRE_TIPO_CLIENTE_VIP',
           'PRE_TIPO_CLIENTE_NOVO',
           'PRE_TIPO_CLIENTE_EXP',
           'DIAS_PRIMEIRA_PARCELA',
           'VALOR',
           'PRE_BANCO_B1',
           'PRE_BANCO_B237',
           'PRE_BANCO_B341',
           'PRE_BANCO_B33',
           'PRE_BANCO_B104',
           'PRE_BANCO_B356',
           'PRE_BANCO_B399',
           'PRE_BANCO_B47',
           'PRE_SEXO_M',
           'PRE_SEXO_F',
           'PRE_SEXO_NULL',
           'PRE_IDADE',
           'ALVO']

In [33]:
## SEPARANDO OS CONJUNTOS
X_train = dataset.query("CONJUNTO == 'TRN'")
X_test  = dataset.query("CONJUNTO == 'TST'")
X_train = X_train[cols_in]
X_test  = X_test[cols_in]

# Refazer e retirar Alvos
y_train = X_train['ALVO']
y_test  = X_test['ALVO']
del X_train['ALVO']
del X_test['ALVO']

In [34]:
## Selecionando Atributos com RFE - Recursive Feature Elimination
#---------------------------------------------------------------------------
# feature extraction
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

model = LogisticRegression()
selected = RFE(model,step=1,n_features_to_select=8).fit(X_train, y_train)

print('--------------------------------------------------')
print('---  SELEÇÃO DE VARIÁVEIS  ---')
print('--------------------------------------------------')
print("Quantidade de Variáveis: %d" % selected.n_features_)
used_cols = []
for i in range(0, len(selected.support_)):
    if selected.support_[i]: 
        used_cols.append(X_train.columns[i]) 
        print('             -> {:30}     '.format(X_train.columns[i]))
print('--------------------------------------------------')

X_train = X_train[used_cols]     # Carrega colunas de entrada selecionadas por RFE
X_test = X_test[used_cols]       # Carrega colunas de entrada selecionadas por RFE

--------------------------------------------------
---  SELEÇÃO DE VARIÁVEIS  ---
--------------------------------------------------
Quantidade de Variáveis: 8
             -> GRUPO_IDADE_ATÉ_1
             -> PRE_CARTEIRA_CLI_B
             -> QTDE_DIVIDAS_ANTERIORES
             -> PRE_TIPO_CLIENTE_VIP
             -> PRE_TIPO_CLIENTE_EXP
             -> DIAS_PRIMEIRA_PARCELA
             -> PRE_BANCO_B341
             -> PRE_BANCO_B47
--------------------------------------------------

In [35]:
## AJUSTAR MODELOS (TREINAMENTO) - Aprendizado Supervisionado
###################################################################
# Regressão Logística 
from sklearn.linear_model import LogisticRegression
LogisticReg = LogisticRegression()
LogisticReg.fit(X_train, y_train)
# du.LogisticFormulaSQL(LogisticReg, X_train)   # Mostra a fórmula

# RNA
from sklearn.neural_network import MLPClassifier
RNA = MLPClassifier()
RNA.fit(X_train, y_train)

MLPClassifier()

In [36]:
## PREDIÇÃO
###################################################################
# Regressão Logística  
y_pred_train_RL = LogisticReg.predict(X_train)
y_pred_test_RL = LogisticReg.predict(X_test)
y_pred_train_RL_P = LogisticReg.predict_proba(X_train)
y_pred_test_RL_P = LogisticReg.predict_proba(X_test)
# RNA
y_pred_train_RNA = RNA.predict(X_train)
y_pred_test_RNA = RNA.predict(X_test)
y_pred_train_RNA_P = RNA.predict_proba(X_train)
y_pred_test_RNA_P = RNA.predict_proba(X_test)

In [37]:
## Montando um Data Frame (Matriz) com os resultados
###################################################################
# Conjunto de treinamento
df_train = pd.DataFrame(y_pred_train_RL, columns=['CLASSIF_RL'])
df_train['CLASSIF_RNA'] = y_pred_train_RNA
df_train['REGRESSION_RL'] = [x for x in y_pred_train_RL_P[:,1]] 
df_train['REGRESSION_RNA'] = [x for x in y_pred_train_RNA_P[:,1]]
df_train['TARGET'] = [x for x in y_train]
df_train['TRN_TST'] = 'TRAIN'
# Conjunto de test
df_test = pd.DataFrame(y_pred_test_RL, columns=['CLASSIF_RL'])
df_test['CLASSIF_RNA'] = y_pred_test_RNA
df_test['REGRESSION_RL'] = [x for x in y_pred_test_RL_P[:,1]]  
df_test['REGRESSION_RNA'] = [x for x in y_pred_test_RNA_P[:,1]]
df_test['TARGET'] = [x for x in y_test]
df_test['TRN_TST'] = 'TEST' 
# Juntando Conjunto de Teste e Treinamento
df_total = pd.concat([df_test, df_train])

In [38]:
## Exportando os dados para avaliação dos resultados
df_total.to_csv('saidas_modelos.csv')

In [39]:
## AVALIAÇÃO DE DESEMPENHO
###################################################################
from sklearn import metrics
Acc_RNA_Classificacao = metrics.accuracy_score(y_test, y_pred_test_RNA)
Acc_RL_Classificacao  = metrics.accuracy_score(y_test, y_pred_test_RL)
print()
print('Rede Neural Acurácia              :',Acc_RNA_Classificacao)
print('Rede Neural Erro de Classificação :',1 - Acc_RNA_Classificacao)
print()
print('Reg. Logística - Acurácia              :',Acc_RL_Classificacao)
print('Reg. Logística - Erro de Classificação :',1 - Acc_RL_Classificacao)

Rede Neural Acurácia              : 0.7372
Rede Neural Erro de Classificação : 0.26280000000000003

Reg. Logística - Acurácia              : 0.7276
Reg. Logística - Erro de Classificação : 0.2724